@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Outfit", sans-serif;
    /* --merah: #db4444; */
    --merah: #df2e38;
    --merahLogo: #b00404;
    --hijaumuda: #f2fbf4;
    --hijaumuda1: #ddf7e3;
    --hijaumuda2: #c7e8ca;
    --hijau: #1db954;
    --bck: #f5f5f5;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
a {
    text-decoration: none;
}
/* body {
    background-color: var(--hijaumuda);
} */
.btn-primary1 {
    background-color: var(--hijau);
    color: white;
    border: none;
}
.btn-primary1:hover {
    background-color: var(--hijaumuda);
    color: var(--hijau);
}
.btn-primary1:active {
    background-color: var(--hijaumuda);
    color: var(--hijau);
}
.btn-teks-aja {
    display: block;
    color: var(--hijau);
    border: none;
    outline: none;
    background: none;
}
.link-primary {
    color: var(--hijau);
}
.link-offset-2 {
    color: var(--hijau);
}
.carousel.slide .carousel-indicators button {
    background-color: var(--hijau);
}
.carousel.slide:hover .carousel-control-prev-icon {
    background-color: var(--hijaumuda2);
    border-radius: 1em;
    border: 10px solid var(--hijaumuda2);
    color: black;
}
.carousel.slide:hover .carousel-control-next-icon {
    background-color: var(--hijaumuda2);
    border-radius: 1em;
    border: 10px solid var(--hijaumuda2);
    color: black;
}
.text-justify {
    text-align: justify;
    text-justify: inter-word;
}
.navbar {
    background-color: white;
    position: fixed;
    z-index: 11;
    width: 100vw;
    top: 30px;
}
.nav-item {
    cursor: pointer;
}
.navbar-hp {
    background-color: var(--hijau);
    width: 100vw;
    position: fixed;
    z-index: 11;
    top: 30px;
}
.konten {
    min-height: calc(100vh - 234.5px - 57.74px);
    padding-bottom: 2em;
}
.card-group1 {
    overflow-x: scroll;
    display: flex;
    gap: 1em;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    padding-block: 1em;
}
.card-group1.no-scroll {
    overflow: visible;
    display: grid;
    gap: 1em;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 190px), 1fr));
}
.card-group1.no-scroll:not(:has(a:nth-child(4))) {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 190px), 190px));
}

.list-group-item a.list {
    color: black;
}
.list-group-item a.list:hover {
    color: var(--hijau);
}

.card1 {
    display: block;
    flex: 1 0 200px;
    color: black;
    transition: 0.5s;
    scroll-snap-align: start;
}
.card1-dua-row {
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    transition: 0.5s;
    color: black;
}

.card1 .img-card1-wm {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: cover;
    position: absolute;
}
.card1 .img-card1 {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: cover;
    border-bottom-width: 3px;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    transition: 0.5s;
    border-radius: 1em;
}
.card1 div {
    position: relative;
    transition: 0.5s;
    width: 80%;
}
.card1 > div {
    margin-top: 1rem;
    width: 100%;
}
.card1 .diskon-coret {
    font-size: small;
}
.card1 .container-varian {
    width: 100%;
    overflow-x: auto;
}
.card1 .container-varian > div {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.3em;
}
.card1 .varian {
    background-color: var(--bck);
    border-radius: 1em;
    display: block;
    width: fit-content;
    padding: 2px 10px;
    font-weight: bold;
    font-size: small;
    /* flex: 1 1 auto; */
    text-wrap: nowrap;
}
.card1:hover div:has(.harga) {
    transform: translateX(10px);
    transition: 0.5s;
}
.card1:hover .img-card1 {
    border-color: var(--hijau);
    transition: 0.5s;
}
.harga {
    color: var(--hijau);
}
.card1 .diskon {
    background-color: var(--hijau);
    color: white;
    /* margin-bottom: -30px; */
    z-index: 2;
    position: absolute;
    transform: translate(20px, 20px);
    display: block;
    width: fit-content;
    /* padding: 4px 6px; */
    line-height: 30px;
    padding-inline: 6px;
    text-align: center;
    border-radius: 0.5em;
}
.card1 .diskon-bwh {
    background-color: var(--hijau);
    color: white;
    display: none;
    width: fit-content;
    padding: 3px 8px;
    border-radius: 0.5em;
    font-size: small;
    margin: 0;
}

.container-melayang {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}
.btn-circle {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-circle.hijau {
    background-color: var(--hijau);
}
.btn-circle path {
    fill: white;
}
.btn-circle.hijau:hover {
    background-color: #6d7f74;
}
.btn-circle.hijau:hover path {
    fill: white;
}
.btn-circle:hover i {
    color: white;
}
.btn-circle:hover {
    background-color: black;
}

.container-ekspedisi {
    /* background-color: aqua; */
    overflow-y: auto;
}
/* .container-ekspedisi::-webkit-scrollbar {
    display: none;
} */
.container-ekspedisi .item-ekspedisi {
    width: max-content;
    /* border-radius: 2em; */
}

.jdl-section {
    color: var(--hijau);
    align-items: center;
    display: flex;
    gap: 1em;
}
.jdl-section::before {
    content: "";
    display: inline-block;
    height: 2em;
    width: 1em;
    background-color: var(--hijau);
}
.container-kategori-scroll {
    /* height: 307px; */
    overflow-x: scroll;
    /* padding-right: 10px; */
}
.container-kategori {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

    gap: 5px;
    scrollbar-width: none;
}
.container-kategori-scroll::-webkit-scrollbar {
    display: none;
}
.kategori {
    /* border: 1px solid gainsboro; */
    /* flex-basis: 170px;
  flex-grow: 0;
  flex-shrink: 0; */
    /* min-width: 150px; */
    /* flex: 1; */
    display: flex;
    flex: 1 0 120px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 20px 15px 0px 15px;
    transition: 0.2s;
    color: black;
    cursor: pointer;
}
.kategori span {
    display: block;
    font-size: 3em;
}
.kategori:hover {
    background-color: var(--hijau);
    color: white;
    transition: 0.2s;
}
.kategori img {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 5px;
}
.kategori p {
    text-align: center;
    line-height: 18px;
}
.btn-icon {
    background-color: whitesmoke;
    align-items: center;
}
.container-text-bwh-kiri {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
}
.wishlist img {
    width: 50px;
    height: 100%;
}
.card-cart {
    padding-block: 2em;
    border-bottom: 0.3em solid whitesmoke;
}
.card-cart img {
    border-radius: 1em;
    width: 100px;
}
.cart-total {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    height: fit-content;
    width: 30%;
}
.jumlah {
    width: 150px;
}
.jumlah input:disabled {
    background-color: white;
}
.material-icons,
.material-symbols-outlined {
    display: block;
    margin: 0;
}
.img-produk {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}
.img-produk > div {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 0.5em;
}
.img-produk > div::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.img-produk img {
    width: 100%;
    border-radius: 0.7em;
}
.img-produk .img-produk-prev {
    width: 100%;
    /* height: 400px; */
    aspect-ratio: 1/1;
    border-radius: 0.7em;
    margin: 0;
    background-size: cover;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (max-width: 1200px) {
    .img-produk .img-produk-prev {
        width: 450px;
    }
}
@media (max-width: 993px) {
    .img-produk .img-produk-prev {
        width: 350px;
    }
}
@media (max-width: 768px) {
    .img-produk .img-produk-prev {
        width: 250px;
    }
}
.img-produk .img-produk-select {
    display: block;
    flex: 1 0 100px;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.7em;
    transition: 0.2s;
}
.img-produk .img-produk-select:hover {
    border: 1px solid black;
    transition: 0.2s;
}
.img-produk .img-produk-select.selected {
    border: 1px solid var(--hijau);
}

.img-produk-besar {
    width: 100%;
    overflow-x: auto;
    height: 40svh;
    display: flex;
    gap: 0.7em;
    scroll-snap-type: x mandatory;
}
.img-produk-besar::-webkit-scrollbar {
    display: none;
}
.img-produk-besar section {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    scroll-snap-align: start;
}
.img-produk-besar .img-produk-prev-baru {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.7em;
    margin: 0;
    background-size: cover;
}

@media (max-width: 600px) {
    .img-produk-besar {
        height: 100%;
    }
    .img-produk-besar section {
        height: calc(100vw - 29px);
    }
}

.table-input .baris {
    padding: 0.3em 0 0.3em 2em;
}
.add-gambar {
    background-color: #f2f2f2;
    width: fit-content;
}
.add-gambar img {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 400px;
}
.toast {
    position: fixed;
    top: -60px;
    transition: 1s;
    z-index: 22;
}
.toast.show {
    top: 100px;
    transition: 1s;
}
.bundar {
    background-color: black;
    color: white;
    border-radius: 2em;
    width: 4em;
    height: 4em;
    padding: 0.8em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baris-ke-kolom {
    display: flex;
    gap: 2em;
}
.baris-ke-kolom-reverse {
    display: flex;
    gap: 2em;
}

.show-flex-ke-hide {
    display: flex;
}
.hide-ke-show-flex {
    display: none;
}
.hide-ke-show-block {
    display: none;
}
.limapuluh-ke-seratus {
    width: 50%;
}
.empatpuluh-ke-seratus {
    width: 40%;
}
.limapuluhsvh-ke-tigapuluh {
    height: 50svh;
}
.garis {
    display: block;
    height: 2px;
    background-color: whitesmoke;
}
.logo-pembayaran {
    height: 64px;
}

.input-group-gambar {
    width: fit-content;
    height: fit-content;
    display: block;
}
.input-gambar {
    display: none;
}
.input-gambar-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    border-style: dashed;
}
.input-gambar-label:hover {
    border-style: solid;
}
.addProduct_Preview {
    width: 100px;
    height: 100px;
    display: none;
}
.addProduct_Preview_display {
    width: 100px;
    height: 100px;
    display: block;
}

.tombol-pilih-kurir {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    cursor: pointer;
    transition: 0.1s;
}
.tombol-pilih-kurir.active {
    border: 1px solid var(--hijau);
}
.tombol-pilih-kurir:hover {
    transition: 0.1s;
    border: 1px solid var(--hijau);
}
.tombol-pilih-kurir .parent-img {
    width: 100px;
    display: flex;
    justify-content: center;
}
.tombol-pilih-kurir img {
    width: 100px;
    height: 100%;
}
.tombol-pilih-kurir img.dakota {
    width: 60px;
}
#container-pilih-kurir {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: calc(100vh - 100px);
}
.container-pilih-kurir {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
}
#pilih-kurir {
    max-height: 500px;
    overflow-y: auto;
}

.container-pilih-voucher {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-height: 0px;
    transition: 0.5s;
}
.container-pilih-voucher.buka {
    max-height: 200px;
    transition: 0.5s;
}
.container-pilih-voucher .item-voucher {
    display: flex;
    padding: 1em 1.5em;
    text-decoration: none;
    color: black;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d7d7d7;
}
.container-pilih-voucher .item-voucher:hover {
    background-color: whitesmoke;
}
.container-pilih-voucher .item-voucher h5 {
    color: var(--hijau);
}
.container-pilih-voucher .item-voucher.active {
    background-color: var(--hijau);
    color: white;
    border: none;
}
.container-pilih-voucher .item-voucher.active:hover {
    background-color: var(--hijaumuda1);
    color: var(--hijau);
}
.container-pilih-voucher .item-voucher.active h5 {
    color: white;
}
.container-pilih-voucher .item-voucher.active:hover h5 {
    color: var(--hijau);
}

.artikel.konten .header {
    width: 100%;
    height: 50svh;
    object-fit: cover;
}
.artikel.konten .judul {
    font-size: 3em;
    letter-spacing: -1px;
}
.artikel.konten h3,
.artikel.konten h4 {
    color: var(--hijau);
}
.artikel.konten .container-nav-kategori-artikel {
    overflow-x: auto;
    padding-block: 5px;
    /* margin-bottom: 0.6em; */
    height: fit-content;
    max-width: 100vw;
    width: 100%;
    transition: 0.3s;
}
.artikel.konten .container-nav-kategori-artikel::after {
    content: "";
    display: block;
    height: 4px;
}
.artikel.konten .container-nav-kategori-artikel:hover::after {
    display: none;
}
.artikel.konten .container-nav-kategori-artikel::-webkit-scrollbar {
    display: none;
}
.artikel.konten .container-nav-kategori-artikel:hover::-webkit-scrollbar {
    display: block;
    height: 4px;
}
.artikel.konten .nav-kategori-artikel {
    color: gray;
    font-size: smaller;
    flex: 1 0 fit-content;
}
.artikel.konten .container-card-artikel {
    height: 350px;
    gap: 1em;
    /* background-color: aqua; */
}
.artikel.konten .container-card-artikel > div {
    height: 100%;
}
.artikel.konten .card-artikel-besar {
    /* height: 300px; */
    display: flex;
    flex-direction: column;
}
.artikel.konten .card-artikel-besar img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1em;
}
.artikel.konten .card-artikel-besar .judul {
    font-weight: bold;
    font-size: large;
    transition: 0.3s;
}
.artikel.konten .card-artikel-besar .isi {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
    color: #888;
    font-size: smaller;
}
.artikel.konten .card-artikel-besar:hover {
    cursor: pointer;
}
.artikel.konten .card-artikel-besar:hover .judul {
    transition: 0.3s;
    color: var(--hijau);
}

.artikel.konten .card-artikel-kecil {
    /* height: 350px; */
    flex: 1;
    display: flex;
    gap: 1em;
}
.artikel.konten .card-artikel-kecil .img {
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.artikel.konten .card-artikel-kecil .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.artikel.konten .card-artikel-kecil .judul {
    font-weight: 500;
    font-size: medium;
    line-height: 20px;
    transition: 0.3s;
}
.artikel.konten .card-artikel-kecil .isi {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;
    color: #888;
    font-size: smaller;
}
.artikel.konten .card-artikel-kecil:hover {
    cursor: pointer;
}
.artikel.konten .card-artikel-kecil:hover .judul {
    transition: 0.3s;
    color: var(--hijau);
}

.artikel.konten .container-search-artikel {
    display: flex;
    gap: 0;
    /* width: 50px; */
    flex: 1;
    transition: 0.3s;
    /* margin-right: 1em; */
}
/* .artikel.konten .container-search-artikel.show {
    gap: 5px;
    width: 100%;
    transition: 0.3s;
    margin-right: 0;
}
.artikel.konten .container-search-artikel input {
    padding-inline: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    flex: 0;
    transition: 0.3s;
}
.artikel.konten .container-search-artikel.show input {
    padding-inline: 0.7em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1;
    transition: 0.3s;
}
.artikel.konten .container-search-artikel button[type="submit"] {
    width: 0;
    padding-inline: 0;
    transition: 0.3s;
}
.artikel.konten .container-search-artikel.show button[type="submit"] {
    width: 50px;
    padding-inline: auto;
    transition: 0.3s;
}

.artikel.konten
    .container-search-artikel.show
    ~ .container-nav-kategori-artikel {
    max-width: 0;
    overflow-x: hidden;
    padding-block: 0;
    transition: 0.3s;
} */
@media (max-width: 600px) {
    .artikel.konten .header {
        height: 30svh;
    }
    .artikel.konten .judul {
        font-size: 2em;
        line-height: 49px;
    }
    .artikel.konten .container-nav-kategori-artikel {
        margin-bottom: 0;
    }
    .artikel.konten .container-nav-kategori-artikel::after {
        display: none;
    }
}

.container-pembayaran {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.container-pembayaran img {
    height: 20px;
}
.container-pembayaran input {
    display: none;
}
.container-pembayaran .item-logo-pembayaran {
    background-color: whitesmoke;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}
.container-pembayaran .item-logo-pembayaran:hover {
    background-color: rgb(201, 201, 201);
}
.container-pembayaran input:checked + .item-logo-pembayaran {
    border: 2px solid black;
}

.container-meta {
    max-height: 200px;
    overflow-y: hidden;
    transition: 0.3s;
    position: relative;
    font-size: small;
}
.container-meta.show {
    max-height: 200svh;
    overflow-y: hidden;
    transition: 0.3s;
}
.container-meta .overlay-meta {
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(to top, white, transparent);
    position: absolute;
    display: block;
}
.container-meta.show .overlay-meta {
    display: none;
}
.container-meta .sub-1 {
    margin-left: 20px;
}
.container-meta .sub-2 {
    margin-left: 40px;
}

.teks-atas {
    background-color: #c6f1c9;
    color: #2d7e33;
    position: fixed;
    height: 30px;
    z-index: 12;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
}
.running-text {
    position: fixed;
    height: 30px;
    z-index: 12;
    background-color: #c6f1c9;
    color: #2d7e33;
    overflow: hidden;
    width: 100vw;
}
.running-text .item-rt {
    /* border: 1px solid blue; */
    width: 700px;
    height: 30px;
    position: absolute;
    left: calc(600px * 4);
    animation-name: scrollkiri;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@keyframes scrollkiri {
    to {
        left: -700px;
    }
}
@media (max-width: 600px) {
    .running-text {
        height: 20px;
    }
    .running-text .item-rt {
        width: 600px;
        height: 20px;
        left: calc(450px * 4);
    }
    .navbar {
        top: 20px;
    }
    .navbar-hp {
        top: 20px;
    }
    .teks-atas {
        height: 20px;
    }
}

/* Footer */
footer {
    background-color: #f8fdf9;
}

footer > .atas > div {
    width: 100%;
}

.dropdown-footer {
    height: 0;
    overflow-y: hidden;
    margin-bottom: 1em;
    transition: 0.3s;
}
.dropdown-footer a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 2.5em;
}
/* end footer */

.accordion {
    border: none;
}
.accordion-item {
    margin-bottom: 5px;
}

.breadcrumb a {
    color: black;
}

.container-list-customer {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.container-list-customer .list-customer {
    background-color: var(--hijaumuda);
    cursor: pointer;
    border-radius: 1em;
    transition: 0.3s;
    padding: 1em 2em;
}
.container-list-customer .list-customer-detail {
    border-top: 1px solid var(--hijau);
    /* background-color: white; */
    padding-top: 10px;
}
.container-list-customer .list-customer:hover {
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.container-list-customer .list-customer .nama {
    color: var(--hijau);
}
.container-list-customer .list-customer div:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-list-customer .list-customer p {
    width: fit-content;
}
.badge {
    font-size: medium;
}
#container-edit-resi {
    /* class="position-fixed d-none justify-content-center align-items-center" style="width: 100vw; height: calc(100vh - 200px);" */
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 200px);
}

.list-tracking {
    display: flex;
    gap: 2em;
    align-items: center;
    height: fit-content;
}
.point-tracking {
    background-color: var(--hijau);
    width: 10px;
    border-radius: 5px;
    aspect-ratio: 1/1;
    display: block;
}
.line-tracking {
    background-color: #888;
    width: 1.5px;
    display: block;
    flex: 1;
}
.container-keterangan-tracking {
    background-color: var(--hijaumuda);
    border-radius: 8px;
    display: flex;
    gap: 0.3em;
    padding: 1em;
    width: 100%;
}
.kota-tracking {
    color: var(--hijau);
    margin: 0;
}

.list-tracking.done .container-keterangan-tracking {
    background-color: var(--bck);
}
.list-tracking.done .point-tracking {
    background-color: gray;
}
.list-tracking.done .kota-tracking {
    color: gray;
}
.page-link {
    color: black;
}
.page-link.aktif {
    color: var(--hijau);
    font-weight: bold;
}

@media (max-width: 600px) {
    p,
    h1,
    input,
    option,
    li,
    a {
        font-size: smaller;
    }
    .card1 h5 {
        font-size: 15px;
    }
    .card1 .varian {
        font-weight: bold;
        font-size: 10px;
    }
    .card1 > div {
        margin-top: 5px;
    }
    .card1 .diskon-coret {
        font-size: 10px;
    }
    .carousel.slide .carousel-indicators button {
        display: none;
    }
    .baris-ke-kolom {
        flex-direction: column;
        gap: 1em;
    }
    .baris-ke-kolom-reverse {
        flex-direction: column-reverse;
        gap: 1em;
    }
    .jdl-section {
        color: var(--hijau);
        align-items: center;
        display: flex;
        gap: 0.7em;
    }
    .jdl-section::before {
        content: "";
        display: inline-block;
        height: 1em;
        width: 0.5em;
        background-color: var(--hijau);
    }
    .card1 .diskon {
        display: none;
    }
    .card1 .diskon-bwh {
        display: inline;
        font-size: 10px;
    }
    .card-group1 {
        gap: 0.6em;
    }
    .card-group1.no-scroll {
        gap: 0.6em;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    }
    .card-group1.no-scroll:not(:has(a:nth-child(4))) {
        gap: 0.6em;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    }
    .card-group1.no-scroll:not(:has(a:nth-child(2))) {
        gap: 0.6em;
        grid-template-columns: repeat(
            auto-fit,
            minmax(min(100%, 150px), 0.5fr)
        );
    }
    .card-group1.dua-row {
        gap: 0.6em;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* grid-template-rows: auto auto auto auto; */
        grid-auto-rows: auto;
    }
    /* .card-group1 .card1 {
        flex: 0 0 200px;
    } */
    .hide-ke-show-flex {
        display: flex;
    }
    .hide-ke-show-block {
        display: block;
    }
    .show-ke-hide {
        display: none;
    }
    .show-flex-ke-hide {
        display: none;
    }
    .konten {
        padding-block: 1em;
    }
    .img-produk {
        width: 100%;
    }
    .card-cart {
        padding-block: 1em;
    }
    .cart-total {
        width: 100%;
    }
    .container-kategori-scroll {
        margin-top: 10px;
    }
    .container-kategori {
        gap: 0.5em;
    }
    .kategori {
        padding: 5px 1px 0 1px;
        flex: 1 0 60px;
    }
    .kategori span {
        font-size: 2em;
    }
    .kategori p {
        font-size: 10px;
        line-height: 12px;
    }
    .limapuluh-ke-seratus {
        width: 100%;
    }
    .empatpuluh-ke-seratus {
        width: 100%;
    }
    .limapuluhsvh-ke-tigapuluh {
        height: 30svh;
    }
    .logo-pembayaran {
        height: 44px;
    }
    .img-produk figure.img-produk-prev {
        display: none;
    }
    .img-produk .img-produk-prev {
        width: 100%;
    }
    .badge {
        font-size: small;
    }
    .container-melayang {
        bottom: 20px;
        right: 20px;
    }
    .container-melayang.geser {
        bottom: 60px;
    }
}
@media (max-width: 450px) {
    .card-group1.no-scroll .card1 {
        flex: 1 0 150px;
    }
    .card-group1 .card1 {
        flex: 0 0 150px;
    }
}

/* Coba Untuk footer baru */

.socialSvg {
    width: 15px;
    height: 17px;
    margin-right: 0.5em;
}

.socialSvg path {
    fill: #555555;
}

.footer__left-menu {
    margin: 0;
    list-style: none;
    font-size: 0.9rem;
    padding: 0;
}

.footer__left-menu li {
    line-height: 1.7rem;
}
.footer__left-menu a {
    color: #555;
}

.footer__partner__payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer__partner__payment .footer__partner__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 35px;
    border: 1px solid #ddd;
    /* background-color: #ddd; */
    margin: 0 10px 10px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
}

.footer__partner__payment .footer__partner__img img {
    max-width: 100%;
    max-height: 100%;
}

.footer__service-customer .title {
    font-size: 1.2rem;
}
.footer__service-customer .fs-5 {
    font-size: 0.9rem;
}

.footer__service-customer .wa-click {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.footer__service-customer .material-icons {
    font-size: medium;
}

@media (max-width: 767.98px) {
    .footer__service-customer .material-icons {
        font-size: small;
    }
    .footer__service-customer .wa-click {
        width: 40%;
    }
}
.marketplace {
    border: 1px solid #ddd;
    padding: 0.6rem;
    height: 45px;
    border-radius: 5px;
}

/* baru */

.print {
    /* width: 2480px;
    height: 3508px; */
    width: 210mm;
    height: 297mm;
    /* width: 793px;
    height: 996px; */
    font-family: "Times New Roman", Times, serif;
    /* display: none; */
    /* padding: 5em; */
}
/* .print input {
    width: 20px;
    aspect-ratio: 1 /1;
} */
/* .print p,
.print th,
.print td {
    font-size: 35px;
} */
/* .print h4 {
    font-size: 45px;
} */

.print .table td,
.print .table th {
    /* line-height: 25px;
    padding-block: 20px; */
    line-height: 17px;
}
.print .table tr td,
.print .table tr th {
    text-align: center;
}
.print .table tr td:nth-child(2) {
    text-align: left;
}
.print .table tr td:nth-child(5),
.print .table tr td:nth-child(6),
.print .table tr:not(:has(:nth-child(3))) td:nth-child(2) {
    text-align: end;
}

@media print {
    @page {
        size: 210mm 297mm;
    }
    .no-print {
        display: none;
    }
    .print {
        display: block;
    }
}
